@font-face {
  font-family: 'Gilroy';
  src: url(./Gilroy-Medium.ttf);
}

*{
  font-family: 'Gilroy';
}

.App {
  text-align: center;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity)) ;
  min-height: 100vh;
  width: 100vw;
}

.title{
  margin-top: 12px;
  width: 90%;
  height: 35px;
  background: transparent;
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  opacity: 1;
}

.container {
  width: auto;
  height: auto;
  background: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search-field {
    width: 100%;
    height: auto;
    background: transparent;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:2rem ;
}

.search-field input {
  width: 90%;
  height: 100%;
  background: #fff;
  font-size: 24px;
  color: #3f3f3f;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 5px 5px 5px 43px;
  caret-color: #79a6ff;
  line-height: 2em;
  padding: 12px;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0 6px 30px -10px #d5dbed;
  overflow: hidden;
  transition: height 359ms cubic-bezier(0.27, 0.7, 0, 0.99);
}

.childDiv {
  background-color: #35b4eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px 0;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.column {
  width: 25%;
  float: left;
  padding: 10px 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.tableDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: flex-start;
  text-align: center;
  box-sizing: border-box;
}

.tablePosition{
  width: 100%; 
  padding: 0 50px;
}

.table {
  display: table;
  min-height: auto;
  width: auto;
  font-size: calc(10px + 2vmin);
  background-color: #35b4eb;
  border-spacing: 1px;
  color: white;
  border: 1px solid #666666;
}

.row {
  display: row;
  width: 100%;
}

.cell {
  display: table-column;
  float: left;
  width: 100px;
  background-color: #ccc;
  font-size: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 15px;
  pointer-events: auto;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.result-tab {
  flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: inherit;
    background: #fff;
    color: #000;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 6px 30px -10px #d5dbed;
    overflow: hidden;
    transition: height 359ms cubic-bezier(0.27, 0.7, 0, 0.99);
}

.result-tab-active {
  height: inherit;
  transition: height 399ms cubic-bezier(0.27, 0.7, 0, 0.99);
}

.ul-title {
  margin-top: 12px;
  width: 90%;
  height: 35px;
  background: transparent;
  opacity: 1;
}
.ul-title p {
  text-transform: uppercase;
  font-size: 12px;
  color: #222;
  opacity: .4;
}

.ul {
  width: 100%;
  height: inherit;
  background: transparent;
  position: relative;
  border-radius: 6px;
}
.li {
  box-sizing: border-box;
  padding: 0 5%;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background: rgba(20, 98, 255, 0);
  transition: background 399ms ease;
}
.li:hover {
  background: rgba(20, 98, 255, 0.1);
  transition: background 299ms ease;
}


 .li-text {
  font-size: 12px;
  color: #222;
  opacity: 1;
  cursor: pointer;
  margin: 20px;
}

.li-active {
  animation: displayList 699ms cubic-bezier(0.6, 0.18, 0.5, 0.99) forwards;
  transform: translatey(40px);
  opacity: 0;
}

.li-1 {
  animation-delay: 99.5ms;
}

.li-2 {
  animation-delay: 199ms;
}

.li-3 {
  animation-delay: 298.5ms;
}

@keyframes displayList {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}

.books-box{
  width: auto;
  height: inherit;
}

.books-listing {
  background-color: #f7f7f7;
  box-shadow: 0 1px #f6fafc;
  border: 1px solid #f6fafc;
  padding: 0;
  border-radius: 9px;
  cursor: pointer;
  margin-bottom: 50px;
  height: 400px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.books-listing-title {
  color: #333;
  line-height: 25px;
  padding: 16px 16px 4px;
  font-weight: 700;
  font-size: 18px;
  max-height: 65px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: break-word;
  text-align: left;
}

.books-listing-summary {
  color: #666;
  padding: 5px 16px;
  font-weight: 200;
  font-size: 14px;
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  word-wrap: break-word;
  text-align: left;
}

.box-image-container{
  max-height: 300px !important;
  max-width: 300px !important;
}

.books-box-image {
  display: block;
  margin: auto;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: 1px solid #ededed;
  width: 100%;
}

.img-circle {
  width: 30px;
  height: 30px;
}

.img-circle {
  border-radius: 50%;
}
img {
  vertical-align: middle;
}

.books-listing-extra-info{
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 22px;
}

.books-author-name {
  max-height: 30px;
  max-width: 225px;
  line-height: 30px;
  font-weight: 200;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
}



